<div class="headerContainer" role="navigation" aria-label="Main">
  <a class="headerLink" href="index.html">Home</a>
  <a class="headerLink" href="team.html">Team</a>

  <details class="menu">
    <summary>Presentation</summary>
    <nav>
      <a href="Presentation/idea.html">Idea</a>
      <a href="Presentation/feasibility.html">Feasibility</a>
      <a href="Presentation/revised.html">Revised Feasibility</a>
      <a href="Presentation/design.html">Design</a>
      <a href="Presentation/reviseddesign.html">Revised Design</a>
      <a href="Presentation/prototype.html">Prototype</a>
    </nav>
  </details>

  <details class="menu">
    <summary>Deliverables</summary>
    <nav>
      <a href="Deliverables/curproflow.html">Current Process Flow</a>
      <a href="Deliverables/solproflow.html">Solution Process Flow</a>
      <a href="Deliverables/MFCD.html">MFCD</a>
      <a href="Deliverables/databaseschema.html">Database Schema</a>
      <a href="Deliverables/risk&mit.html">Risk & Mitigations</a>
    </nav>
  </details>

  <details class="menu">
    <summary>Prototype</summary>
    <nav>
      <a href="Prototype/week.html">Weekly Reports</a>
      <a href="Prototype/chart.html">Some Chart</a>
      <a href="Prototype/demopres.html">Prototype Demo Presentation</a>
    </nav>
  </details>

  <a class="headerLink" href="references.html">References</a>
</div>


