body{
    padding: 0px;
    margin: 0px; 
    background-color: red;
}

.headerContainer{
    flex-direction: row;
    width: 100%;
    height: 10vh;
    background-color: rgb(159, 235, 138);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

}


.header{
    width: 50%;
    height: 50px;
    font-size: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px rgb(119, 206, 73);
    background-color: rgb(104, 192, 57);
    display: flex;
    justify-content: center;
    align-items: center;

}

.centerContainer{
    width: 100%;
    height: 80vh;
    background-color: rgb(165, 233, 63);
}

.centerFooter{
    width: 100%;
    height: 10vh;
    background-color: rgb(132, 255, 0);
}

menu{
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 50px;
    background-color: rgb(215, 239, 198);
    border-radius: 20px;
    justify-content: center;
    align-items: center;  
    text-decoration: none;  
    padding: 0px;
    overflow: hidden;

}

iframe{
    width: 100%;
    height: 100vh;
}

#displayNo{
    display: none;
}

.display{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    transform: translateY(85px);
    border-radius: 5px;

}
