body{
    padding: 0px;
    margin: 0px; 
}

.headerContainer{
    flex-direction: column;
    width: 100%;
    height: 10vh;
    background-color: rgb(159, 235, 138);
    display: flex;
    justify-content: center;
    align-items: center;
}


.header{
    width: 50%;
    height: 50px;
    font-size: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px rgb(119, 206, 73);
    background-color: rgb(104, 192, 57);
    display: flex;
    justify-content: center;
    align-items: center;

}

.centerContainer{
    width: 100%;
    height: 80vh;
    background-color: rgb(165, 233, 63);
}

.centerFooter{
    width: 100%;
    height: 10vh;
    background-color: rgb(132, 255, 0);
}